TOKEN=your_telegram_bot_token
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/
MONGO_DB_NAME=shadow_legion
WEB_PASSWORD=shadow2099
WEB_SECRET=shadow_legion_secret_key_2099
SHELL_TIMEOUT=600
CLEANUP_DAYS=7
PROXY_LIST=
TWOCAPTCHA_API_KEY=
RAILWAY_PUBLIC_DOMAIN=https://your-app.railway.app