python-telegram-bot==20.6
requests==2.31.0
rsa==4.9
selenium==4.23.1
webdriver-manager==4.0.2
opencv-python-headless==4.10.0.84
mss==9.0.1
pyperclip==1.9.0
psutil==6.0.0
pillow==10.1.0
numpy==1.26.4
cryptography==41.0.7